<div class="px-4 py-4">
    

        <div class="">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
               
                {% for collection in collections limit:section.settings.number_of_products_per_page %}
                    
                    {% render 'product-card', product_product: collection %}
                {% else %}
                    <p>There are no collections</p>
                {% endfor %}
            </div>
        </div>
        

        
    
</div>

{% schema %}
{
    "name": "Collection-List",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 6,
            "label": "Number of products per page"
        }
    ],
    "presets": [
    {
      "name": "Collection-list"
}
      ]
}
{% endschema %}