<div class="px-4 py-6">


    <div class="">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-1 sm:gap-4">

            {% for collection in section.settings.collection limit:section.settings.number_of_products_per_page %}
            {% render 'product-card', product_product: collection %}
            {%else%}
            <div class="w-full py-2 px-2 ">
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            </div>
            <div class="w-full py-2 px-2 ">
                {{ 'product-2' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            </div>
            <div class="w-full py-2 px-2 ">
                {{ 'product-3' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            </div>
            <div class="w-full py-2 px-2 ">
                {{ 'product-4' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            </div>


            {% endfor %}
        </div>
    </div>




</div>

{% schema %}
{
"name": "Collection-List",
"settings": [
{
"type": "number",
"id": "number_of_products_per_page",
"default": 4,
"label": "Number of collection"
},

{
"type": "collection_list",
"label": "Collection",
"id": "collection"
}

],


"presets": [
{
"name": "Collection-list"
}
]
}
{% endschema %}