<div class=" center mt-1 sm:mt-2">
  <p class="mb-1">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title mt-1 sm:mt-2">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button mt-1 sm:mt-2">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>